# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env secrets
.env
.env.local
frontend/.env.local

# Strava data (your private runs)
backend/data/

# Build outputs
frontend/dist
frontend/.vite

# OS
.DS_Store
.vercel

/generated/prisma
/generated/prisma
